<h1>Terms And Condition</h1>
<p>
    A) Enrolment and Registration:
    1. The information/details provided by the candidate/s in the online registration form including contact number, address, employer
    details, etc. should be true and accurate to the best of his/her knowledge and he/she must have the relevant
    supporting documents to verify the authenticity of these details.
    2.After the registration process,the candidate can take the exam.

    B) During the Examination
    1. The candidate shall follow the decorum of the examination in online mode and will not move out of their computer screen during 
    examination.
    2. During the examination if the candidates want to use rough sheets then it should be visible in the screen also.
    3. The candidate/s cannot consume any kind of eatables and drinks during the exam 
   
    C) Score Card
    The candidate/s score card/results shall be available once the response is submitted.

    The following act/s shall be deemed as use of Unfair Means:
    1. Gaining access to test questions before the examination or aiding someone else to do so.
    2. Communicating with and / or disturbing other candidates or consulting other persons inside/outside the
    computer screen during the examination.
    3. Using an unauthorized calculator or other mechanical/electronic aid, which is not permitted.
    4. Carrying and/or using the electronic/photographic/communication devices/equipments that are prohibited
    during the examinations including but not limited to mobile phones, laptops, tablet PCs, cameras, headphones, pendrives, bluetooth devices etc.
    5. Moving out of your computer screen, for any reason whatsoever.
    6. Copying, disclosing, publishing, reproducing, transmitting, storing, or facilitating transmission, theft and
    storage of the contents of the Question bank/corresponding answers of NCFM Certification Examination or any
    information therein in whole or part thereof in any form or by any means, verbal or written (e.g.: smuggling rough sheet
    out of examination hall), electronically or mechanically for any purpose. Such activities shall be deemed as question
    bank theft.
    7. Consuming food, tobacco products and/or alcoholic/non-alcoholic beverages etc.
   
    The following act/s shall be deemed as Cheating, Impersonation and forgery:
    1. Receiving or giving assistance to the fellow candidate/s directly or indirectly or involved in copying in any
    form including but not limited to looking into any other workstation different from the allotted one during the course of
    the exam etc.
    2. Attempting to receive or receiving any assistance from outside in any manner.
    3. Indulging in group copying/making sounds/unsolicited gestures to hint at answers etc. during the course of
    the examination.
    4. Arranging to have another person take an examination for the candidate or appearing for examination for another
    candidate.
    5. Allowing/Making somebody else to write/submit answers on behalf of the candidate during examination.
    6. Helping or receiving help from other candidate/s for impersonation.
</p>   