<body>
 <div class="container">
        <p>The Online Test Application system creates an application that enables users to provide online tests, review them, and display the results.
            <br><br><br>
            In this quiz application,students can take the quiz on Logical Question and view their score once they submit the quiz.
               This allows the students to track their progress.Taking the test and scoring is offline and the score is given free of charge(does not require internet connection).
               Quiz application in one form or the other is becoming a general requirement for most of the applications these days. Be it Survey, mock test, preparation, self evaluation, gathering information, actual objective test or exam.
               <br><br><br><br>

              This quiz application system contains three main modules: Quiz, Review, and Result.
              The Quiz part displays the questions with its four options. The review part will notify the user which question is answered and which question is unanswered. The Result part will generate the total score of the user taking the test.

             <br><br>

             You must consider that the sample population that is used to calculate the score in this application is probably smarter than the average population of the world. 
             Hence the score calculated by this app would be lower than the score that is calculated based on the whole population of the world. 
            <br><br>

             The focus of this application is on Logical tests:
             Logical reasoning tests (or inductive reasoning tests): Logical tests appear in several categories and variations, 
             namely: analogies, progressive series, patterns, and classification tests.
       

             In this app you can also review before submission to check which question is attempted and which question is unattempted.
             <br><br>
        
             <br>
        </p>
        <footer></footer>
  </div>       
</body>