.container1 {
    border-radius: 20px;
    background-color: rgb(214, 73, 73);
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border-width: thin;
  }
  .body{
      padding: centre;
  }
  .container4 {
      text-align: center;
  }
  .footer {
      text-align: center;
  }
  body{
    background-image:url(../../assets/imagequiz/bq5.jpeg);
    background-repeat:no-repeat;
    background-position:center ;
    background-attachment:fixed;
    background-size:cover; 
    padding-top: 180px;
}  
a{
  color: black;
}
